.photo-grid:nth-child(n) {
  margin-bottom: 85px;
}

@media (max-width: 1024px) {
  .photo-grid:nth-child(n) {
    margin: 0 48px 90px 48px;
  }
}

@media (max-width: 768px) {
  .photo-grid:nth-child(n) {
    margin: 0 24px 91px 24px;
  }
}

@media (max-width: 320px) {
  .photo-grid:nth-child(n) {
    margin: 0 16px 58px 16px;
  }
}