.cover__title {
  max-width: 560px;

  padding: 0;
  margin: 0;

  font-weight: 900;
  font-size: 72px;
  line-height: 106%;

  text-align: center;

  text-decoration: none;
  color: #fff;

  z-index: 2;
}

.cover__title:nth-child(n) {
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .cover__title { 
    max-width: 75%;
    font-size: 32px;
  }

  .cover__title:nth-child(n) {
    margin-bottom: 16px;
  }
}