.lead__title {
  max-width: 720px;

  padding: 0;
  margin: 0;

  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  
  text-align: center;
}

.lead__title:nth-child(n) {
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
  }

  .lead__title:nth-child(n) {
    margin-bottom: 20px;
  }
}