@import url('../vendor/normalize.css');

@import url('../vendor/font/font.css');

@import url('./blocks/page/page.css');

@import url('./blocks/header/header.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/header/__links/header__links.css');
@import url('./blocks/header/__link/header__link.css');
@import url('./blocks/header/__link/_active/header__link_active.css');

@import url('./blocks/lead/lead.css');
@import url('./blocks/lead/__title/lead__title.css');
@import url('./blocks/lead/__subtitle/lead__subtitle.css');
@import url('./blocks/lead/__pic-container/lead__pic-container.css');
@import url('./blocks/lead/__pic-image/lead__pic-image.css');
@import url('./blocks/lead/__pic-text/lead__pic-text.css');

@import url('./blocks/intro/intro.css');
@import url('./blocks/intro/__title/intro__title.css');
@import url('./blocks/intro/__paragraph/intro__paragpaph.css');
@import url('./blocks/intro/__list/intro__list.css');
@import url('./blocks/intro/__list-text/intro__list-text.css');
@import url('./blocks/intro/__span-accent/intro__span-accent.css');

@import url('./blocks/photo-grid/photo-grid.css');
@import url('./blocks/photo-grid/__list/photo-grid__list.css');
@import url('./blocks/photo-grid/__card/photo-grid__card.css');
@import url('./blocks/photo-grid/__photo/photo-grid__photo.css');

@import url('./blocks/places/__list/places__list.css');
@import url('./blocks/places/__title/places__title.css');
@import url('./blocks/places/__pic/places__pic.css');
@import url('./blocks/places/__website/places__website.css');
@import url('./blocks/places/__main-text/places__main-text.css');
@import url('./blocks/places/__list-item/places__list-item.css');
@import url('./blocks/places/__link-heading/places__link-heading.css');
@import url('./blocks/places/__link/places__link.css');
@import url('./blocks/places/__paragraph/places__paragraph.css');

@import url('./blocks/cover/__link/cover__link.css');
@import url('./blocks/cover/__overlay/cover__overlay.css');
@import url('./blocks/cover/__subtitle/cover__subtitle.css');
@import url('./blocks/cover/__title/cover__title.css');

@import url('./blocks/footer/footer.css');
@import url('./blocks/menu/__links/menu__links.css');
@import url('./blocks/menu/__link/menu__link.css');
@import url('./blocks/footer/__author/footer__author.css');
