.intro {
  box-sizing: border-box;

  margin: 0 auto;

  max-width: 100%;
}

.intro:nth-child(n) {
  padding-left: 100px;
  margin-bottom: 92px;
}

@media (max-width: 1024px) {
  .intro:nth-child(n) {
    padding-left: 0;

    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width: 768px) {
  .intro:nth-child(n) {
    margin: 0 24px 88px 24px;
  }
}

@media (max-width: 320px) {
  .intro:nth-child(n) {
    max-width: 288px;
    margin: 0 16px 64px 16px;
  }
}