.lead__subtitle {
  max-width: 640px;

  padding: 0;
  margin: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;

  text-align: center;
}

.lead__subtitle:nth-child(n) {
  margin-bottom: 64px;
}

@media (max-width: 1024px) {
  .lead__subtitle:nth-child(n) {
    margin-bottom: 56px;
  }
}

@media (max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
  }

  .lead__subtitle:nth-child(n) {
    margin-bottom: 40px;
  }
}