.menu__link {
  text-decoration: none;

  font-weight: normal;
  font-size: 16px;
  line-height: 112%;
  color: #fff;
  
  opacity: 1;
}

.menu__link:nth-child(n) {
  margin-right: 18px;
}

.menu__link:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .menu__link {
    font-size: 24px;
  }

  .menu__link:nth-child(n) {
    display: inline-block;

    margin-bottom: 30px;
  }
}
